/* Custom Css code Start */

/* preloader */

.preloader {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    position: fixed;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 100%;
    max-width: 500px;
    ;
}

/* preloader */


.top-menu.scroll-header {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    color: rgb(51, 51, 51);
    box-shadow: rgba(30, 30, 30, 0.3) -21.213px 21.213px 30px 0px;
    z-index: 99999;
    background-color: rgb(255, 255, 255);
    /* min-height: 96px; */
    transition: all 0.5s ease 0s;
}

.scrolldown{
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* top menu */


/* .work svg path {
    stroke: rgb(24, 14, 14);
} */

.scroll-header .right-menu svg path{
    stroke: rgb(24, 14, 14) !important;
    
} 
/* top menu */

.tab-menu:hover {
    text-shadow: 1px 0px 0px #333333;
}
.tab-menu::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    /* background: blue; */
    transition: width .3s;
    /* margin-top: 5px; */
    border-bottom: 2px solid #195A00;
}

.tab-menu:hover::after {
    width: 50%;

}


/* .tab2 h2:hover{
color:red
}
.hasib{
    color: red;
    
} */

/* Custom Css code End */


.read-more:hover svg{
    fill: aliceblue;
}

/* .slick-prev {
    left: -45px;
    background: tomato;
    width: 120px;
    height: 50px;
    z-index: 9999;
    overflow: hidden;
} */

/* 
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #8f1919fc;
    border: none;
    outline: none;
    background: #bd0d0dfa;
} */





/* button.slick-prev.slick-arrow {
    background: tomato !important;
} */

/* .single-item button.slick-next.slick-arrow {
    background: tomato;
    padding: 8px;
    width: 50px;
    height: 35px;
    margin-right: 17px;
    border-radius: 5px;
}

#slick .arrow_next{
background-color: blue;
overflow: hidden;
} */


/* .slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #1f2221 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */


.single-item .slick-prev{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 54px;
    height: 54px;
    padding: 19px 15px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: #195A00 !important;
    border-radius: 4px;
    z-index: 999;
    opacity: 50%;
}

.single-item .slick-prev {
    left: -62px;
}
.single-item .slick-prev:hover {
    
    background: #195A00 !important;
    opacity: 100%;
   
}

.single-item .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 54px;
    height: 54px;
    padding: 19px 15px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #fff !important;
    border: none;
    outline: none;
    background: #195A00 !important;
    opacity: 50%;
    border-radius: 4px;
    z-index: 999;
    transition: all .5s;
}

.single-item .slick-next {
    right: -45px;
}

.single-item .slick-next:hover {
    
    background: #195A00 !important;
    opacity: 100%;
   
}


/* customer Review */


/* Pre*/

.customer-review .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 24px;
    height: 35px;
    padding: 10px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #fff !important;
    border: none;
    outline: none;
    opacity: 50%;
    border-radius: 4px;
    z-index: 999;
    transition: all .5s;
    
}
   

/* Next*/

/* .customer-review .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 54px;
    height: 35px;
    padding: 10px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    /* color: #fff !important; 
    border: none;
    outline: none;
    opacity: 50%;
    border-radius: 4px;
    z-index: 999;
    transition: all .5s;
} */
/* customer Review End */

.customer-review .slick-next {

    left: 534px;
    /* margin-left: 534px; */
    bottom: 50px;
}
.customer-review .slick-prev {
    left: 470px;
    /* margin-left: 470px; */
    bottom: 50px;
    /* z-index: 99999; */
}

.customer-review .slick-prev:before {
    content: url('../img/ArrowLeft.svg');
}
.customer-review .slick-next:before {
    content: url('../img/ArrowRight.svg');
    
}

/* .customer-review .slick-prev:hover{
    background-color: #195A00;
    color: red;
} */

/*  scroll css section here*/
.scrolltop .icon {
    font-size: 30px;
    text-align: center;
    /* transform: rotate(45deg); */
    margin-top: 10px;
}

.scrolltop {
    position: fixed;
    bottom: 70px;
    right: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: #fff; */
    display: none;
}


.blog-item h2{
    color: blue;
}

.custom-bg{
   /* background: rgba(25, 90, 0, 0.85),url('../img/unsplash_OzBLe_Eg1mg.png'); */
   background: linear-gradient(rgba(25, 90, 0, 0.85),rgba(25, 90, 0, 0.85)),url('../img/unsplash_OzBLe_Eg1mg.png');
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;

}


